* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  color: #405275;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fffeff;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1.5rem;
  line-height: 1.4;
}
/*导航 开始*/
.navbars {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(2, 25, 72, 0.3);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  z-index: 10000;
}
.box {
  height: 40px;
}
.nav-left-a {
  height: 40px;
  width: 61.82px;
  display: inline-block;
  background: url('../images/game/nav-Ficon-sprite.png') no-repeat -18px -75px;
  float: left;
}
.navbars-top-con li {
  float: left;
  position: relative;
}
.Navbar-poster {
  width: calc(12.5% - 17.5px);
  position: relative;
  display: inline-block;
  height: 180px;
  min-width: 0;
  max-width: none;
  overflow: hidden;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1);
  margin: 15px 20px 15px 0;
  font-size: 0;
  transition: border-color 0.2s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.Navbar-poster .Navbar-posterImage {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 180px;
  width: 216px;
  -webkit-filter: brightness(100%) contrast(100%);
  filter: brightness(100%) contrast(100%);
  transition: -webkit-filter 0.2s;
  transition: filter .2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.Navbar-poster:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, 0.15);
  pointer-events: none;
}
.Navbar-poster-div {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  opacity: 0;
}
.Navbar-poster:hover .Navbar-poster-div {
  opacity: 1;
}
.nav-left-son-div {
  width: 100%;
  z-index: 1;
  display: inline-block;
  position: relative;
  top: -1px;
}
.nav-bottom {
  background: radial-gradient(ellipse farthest-side at center top, #283244 0, rgba(21, 26, 35, 0.95) 100%);
  border: solid 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  /*opacity: 0;*/
  display: none;
  box-sizing: border-box;
  transition: all .4s;
}
.nav-bottom-1 {
  height: 278px;
}
.Navbar-poster:last-child {
  margin-right: 0;
}
.Navbar-esport-sub {
  width: 2px;
}
.Navbar-esport-sub {
  width: 2px;
  opacity: 0;
  overflow: hidden;
  display: block;
  position: relative;
  vertical-align: top;
  max-width: 100px;
  background-color: #151a23;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .4s ease;
}
.Navbar-esport-sub .Navbar-esport-link {
  display: block;
  width: 100px;
  margin: -6px 0;
  text-align: center;
}
.Navbar-esport-sub .Navbar-esport-link img {
  width: 100%;
}
.center-block .Navbar-esport:hover,
.center-block .animation-delay-3 {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}
.Navbar-esportLabel {
  padding: 5px 20px 18px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  color: inherit;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.Navbar-esport {
  padding: 20px 0;
  font-size: 15px;
}
.Navbar-esport {
  display: table-cell;
  position: relative;
  vertical-align: top;
  width: 16vw;
  max-width: 192px;
  font-size: 13px;
  line-height: 1.4;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.nav-bottom-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-right: solid 1px rgba(255, 255, 255, 0.15);
  background-color: #283244;
  opacity: .95;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}
.nav-bottom-top-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: solid 1px transparent;
  background-color: #151a23;
}
.nav-left-son-box {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}
.nav-bottom-1 .nav-left-son-box {
  padding: 0 30px;
}
.Navbar-posterImage {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 180px;
  width: 216px;
  -webkit-filter: brightness(100%) contrast(100%);
  filter: brightness(100%) contrast(100%);
  transition: -webkit-filter 0.2s;
  transition: filter .2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}
.nav-left {
  height: 40px;
  float: left;
}
.nav-left ul {
  height: 40px;
  margin: 0;
}
.nav-left a,
.nav-right a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 40px;
  text-decoration: none;
}
.nav-left a:hover,
.nav-right a:hover {
  /*text-shadow: 0 0 15px #fff, 0 0 30px rgba(255,255,255,.3);*/
  color: #fff;
  text-decoration: none;
}
.nav-left .active {
  text-shadow: 0 0 15px #fff, 0 0 30px rgba(255, 255, 255, 0.3);
  color: #fff;
}
.nav-left span,
.nav-right span {
  width: 14px;
  height: 7px;
  display: inline-block;
  background: url('../images/game/nav-Ficon-sprite.png') no-repeat -147px -131px;
  margin-left: 2px;
  vertical-align: baseline;
}
.nav-right {
  float: right;
}
.nav-right a {
  float: left;
}
.nav-right-div {
  display: inline-block;
}
.nav-right .nav-btn {
  display: inline-block;
  border-bottom: 0 solid transparent;
  padding: 24px 15px 22px;
  box-sizing: border-box;
  line-height: 1;
  font-size: 1.2rem;
  font-family: "microsoft yahei", arial, sans-serif;
  text-transform: none;
  color: rgba(255, 255, 255, 0.85);
  min-width: auto;
  text-align: center;
  text-shadow: none;
  letter-spacing: .05em;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/*                 */
.nav_head {
  width: 100%;
  max-width: 20em;
  position: fixed;
  right: 30px;
  background: #35404f;
  border-right: 2px solid #383d49;
  border-bottom: 2px solid #383d49;
  display: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav_head > a {
  width: 80%;
  height: 40px;
  background: #0e86ca;
  margin: 30px auto;
  display: block;
  border: solid 1px #00aeff;
  text-align: center;
  line-height: 40px;
  color: white;
}
.nav_head > a:hover {
  background: #00aeff;
}
.bg1 {
  width: 1.5em;
  height: 1.5em;
  background: url('../images/game/nav-Ficon-sprite.png') -141px -9px;
  display: inline-block;
}
.bg2 {
  width: 1.5em;
  height: 1.5em;
  background: url('../images/game/nav-Ficon-sprite.png') -198px -16px;
}
.li11 {
  border-top: 2px solid #929191;
  padding: 10px 40px;
}
.li11:hover {
  background: #252b36;
}
.btn11:hover {
  background: #00aeff;
}
.li11 {
  color: #cccccc;
}
.li11:hover {
  color: white;
}
.box {
  padding: 0 40px;
}
@media (max-width: 768px) {
  .navbars {
    display: none!important;
  }
}
.nav-left-a {
  margin-right: 30px;
}
.nav-left li {
  margin-right: 30px;
}
.nav-right a {
  margin-left: 30px;
}
.nav-left-son-box {
  padding-left: 40px;
  padding-right: 40px;
}
.nav-right .nav-btn {
  font-size: 1.6rem;
  min-width: 99px;
  padding: 24px 0 22px;
}
/*导航 结束*/
.mainNav {
  background-color: rgba(40, 53, 79, 0.85);
  z-index: 200;
  width: auto;
  height: 62px;
  position: fixed;
  left: 20px;
  right: 20px;
  top: 65px;
}
.mainNav:after {
  content: "";
  display: block;
  clear: both;
}
.mainNav-left {
  float: left;
  margin-left: 25px;
}
.mainNav-logo {
  display: block;
  width: 210px;
  height: 62px;
  background: url(../images/index/logo.png) no-repeat;
}
.mainNav-menu > li {
  float: left;
}
.mainNav-menu-xiala-active {
  background-image: linear-gradient(0, rgba(0, 146, 191, 0.4) 0, rgba(49, 81, 118, 0.8) 50%, rgba(48, 64, 91, 0.8) 100%);
}
.mainNav-menu > li > a {
  display: block;
  padding: 20px 20px 20px;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  text-decoration: none;
}
.mainNav-menu li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.mainNav-title-active {
  background-color: rgba(255, 255, 255, 0.1);
}
.mainNav-arrow {
  background-image: url(../images/index/arrow1.png);
  width: 12px;
  height: 7px;
  background-position: 50%;
  display: inline-block;
  margin: 0 0 2px 8px;
  transform: rotate(0);
}
.mainNav-arrow-active {
  transform: rotate(180deg);
}
.mainNav-second {
  background-color: rgba(61, 73, 96, 0.8);
  position: absolute;
  top: 100%;
  display: none;
  width: 100%;
  left: 0;
  padding: 10px 0;
}
.mainNav-second-active {
  display: block;
}
.mainNav-second > li {
  float: left;
  margin-right: 40px;
}
.mainNav-second > li > a {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.2rem;
  text-decoration: none;
  background: none;
}
.mainNav-second > li > a:hover {
  background: none;
}
.mainNav-second-icon {
  width: 2px;
  height: 15px;
  background: transparent;
  box-shadow: none;
  position: relative;
  display: inline-block;
  margin: 0 3px 0 0;
  top: 3px;
}
.mainNav-second-icon-active {
  background: #0babe1;
}
.mainNav-right {
  float: right;
}
.mainNav-right > a {
  display: block;
  background-color: #f7931e;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6rem;
  width: 100px ;
  height: 62px;
  text-align: center;
  line-height: 62px;
  text-decoration: none;
}
.mainNav-right > a:hover {
  color: white;
  background-color: orange;
}
.mainNav-right-media-l {
  display: none;
}
.mainNav-right-media-r {
  display: none;
}
.animateBG {
  width: 100%;
  height: 1100px;
  position: relative;
  z-index: 100;
}
.animateBG video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tiaojie {
  width: 40%;
  height: 50%;
  margin: 30px auto;
  position: absolute;
  left: 30%;
  top: 130px;
  z-index: 102;
}
.animateBG-logo {
  width: 100%;
  height: 50%;
  background: url("../images/index/logo2.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.animateBG-text1 > a {
  display: block;
  width: 184px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 1.4em;
  font-weight: bold;
  background: #f7931e;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  border-radius: 3px;
  margin: 15px auto;
}
.animateBG-text1 > a:hover {
  background: orange;
  color: white;
}
.animateBG-text2 > a {
  display: block;
  box-sizing: border-box;
  width: 184px;
  height: 48px;
  text-align: center;
  line-height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  margin: 20px auto;
  border: 3px solid  white ;
}
.animateBG-icon-text {
  float: left;
  display: inline-block;
  margin-top: 0;
  line-height: 40px;
}
.animateBG-icon {
  float: left;
  width: 17px;
  height: 20px;
  margin-top: 10px;
  margin-left: 45px;
  padding-right: 22px;
  display: inline-block;
  background: url(../images/index/arrow2.png) no-repeat;
  background-position: 0 -49px;
}
.animateBG-text2 > a:hover {
  background: transparent;
  color: white;
}
.animateBG-text2 > a:hover .animateBG-icon {
  background-position: 0 0;
}
.news {
  width: 100%;
  position: relative;
  background: white;
  z-index: 100;
  overflow: hidden;
  padding-bottom: 50px;
}
.news > h2 {
  font-size: 2.4rem;
  text-align: center;
  margin: 30px 0 30px;
  color: #405275;
  font-style: italic;
}
.news ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.news ul li {
  float: left;
  margin-right: 20px;
  width: 560px;
  height: 259px;
  border: 3px solid white;
  border-radius: 3px;
  position: relative;
}
.news-left {
  background: url("../images/index/1.jpg");
  background-size: cover;
}
.news ul .news-right {
  margin-right: 0;
  background: url("../images/index/eye.jpg");
  background-size: cover;
}
.news ul li a {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 1.8rem;
  color: #f0edf2;
  font-style: italic;
  text-decoration: none;
}
.news-btn {
  margin: 30px auto;
  display: block;
  width: 13%;
  padding: 7.5px 0;
  border: 3px solid #0cbdff;
  border-radius: 3px;
  background-color: transparent;
  color: #0cbdff ;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.news-btn:hover {
  color: white;
  background-color: #0cbdff ;
  border: 3px solid #00a5e2;
  text-decoration: none;
}
.fight {
  width: 100%;
  height: 850px;
  position: relative;
  z-index: 100;
}
.fight-lunbo {
  width: 100%;
  height: 850px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 102;
  transition: all 3s;
}
.fight-bg1 {
  background: url("../images/index/fight1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.fight-bg2 {
  background: url("../images/index/fight2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.fight-bg3 {
  background: url("../images/index/fight3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.fight-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  text-align: center;
  z-index: 103;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.fight-cont h2 {
  font-size: 7.2rem;
  text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: italic;
  color: white;
}
.fight-cont p {
  width: 900px;
  margin: 0 auto;
  color: white;
  font-size: 2.4rem;
  line-height: 1.47;
  margin-bottom: 3rem;
  font-weight: 400;
}
.hero {
  width: 100%;
  height: auto;
  background: url("../images/index/h_bg.jpg") no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 100;
  padding-bottom: 80px;
}
.hero-cont {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 80px auto;
  text-align: center;
  color: #345177;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-cont h2 {
  text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
  margin-bottom: 44px;
  font-style: italic;
  font-size: 7.2rem;
}
.hero-cont p {
  width: 624px;
  margin: 0 auto;
  font-size: 2.4rem;
  line-height: 1.47;
  margin-bottom: 3.6rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.hero-banner {
  width: auto;
  min-height: 200px;
  position: absolute;
  top: 490px;
  left: 30px;
  right: 30px;
  background-image: linear-gradient(90deg, rgba(42, 55, 81, 0.1) 0, rgba(42, 55, 81, 0.8) 25%, rgba(42, 55, 81, 0.8) 75%, rgba(42, 55, 81, 0.1));
  background-position: center;
  z-index: 101;
}
.hero-big {
  width: 70%;
  margin: 0 auto;
  min-height: 440px;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 380px;
  opacity: 0;
  z-index: 103;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.hero-big-active {
  opacity: 1;
}
.hero-big-img {
  float: left;
  display: inline-block;
  width: auto;
  height: 440px;
  text-align: right;
}
.hero-big-img img {
  width: auto;
  height: 440px;
}
.hero-big-text {
  float: left;
  color: #f0edf2;
  margin-top: 130px;
  margin-left: 50px;
  text-align: center;
}
.hero-big-text h2 {
  font-size: 6rem;
  text-shadow: 0 1px 2px #000;
  font-style: italic;
}
.hero-big-text p {
  width: 300px;
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
}
.hero > ul {
  width: 88%;
  margin: 0 auto;
  margin-top: 520px;
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
}
.hero > ul:after {
  content: "";
  display: block;
  clear: both;
}
.hero > ul > li {
  float: left;
  margin-left: 13px;
  height: 120px;
  margin-bottom: 10px;
}
.hero > ul > li img {
  margin: 0;
  padding: 0;
  background: #555;
  transform: skew(-10deg) translateX(5px);
  width: 70px;
  height: 78px;
  border-radius: 5px;
}
.hero > ul > li a {
  text-decoration: none;
}
.hero-small-title {
  text-align: center;
  padding-top: 5px ;
  color: #405275 ;
  font-size: 14px;
}
.hero > ul > li .hero-img-active {
  background: orange;
  transform: scaleY(1.2) skew(-13deg) translateX(5px);
}
.hero > ul > li .hero-small-title-active {
  position: relative;
  width: 65px;
  height: 22px;
  background: #e1e1e1;
  border-radius: 5px;
  z-index: 2;
  padding-top: 0;
  line-height: 22px;
}
.all-bg {
  background: url("../images/index/all-bg.jpg") no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: 0;
  background-position: center;
  background-size: cover;
}
.shop {
  position: relative;
  z-index: 100;
  margin-top: 400px;
  background: url("../images/index/shop-bg.jpg") no-repeat;
  width: 100%;
  height: 600px;
  background-position: center 30%;
}
.shop-tao {
  position: absolute;
  z-index: 102;
  bottom: 0;
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.shop-b-text {
  display: none;
}
.shop-tao img {
  float: left;
  width: 50%;
  height: 1500px;
  z-index: 103;
  vertical-align: bottom;
}
.shop-cont {
  float: left;
  width: 443px;
  margin-top: 180px;
}
.shop-cont h2 {
  text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
  font-size: 7.2rem;
  color: #3f6493;
  letter-spacing: .08rem;
  font-style: italic;
  text-align: center;
  line-height: 1.47;
}
.shop h3 {
  display: none;
}
.shop-cont p {
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 30px;
}
.second-menu {
  position: fixed;
  left: -320px;
  top: 0;
  z-index: 200;
  width: 240px;
  background: #2a3751;
  overflow-y: auto;
  transition: all .5s;
}
.second-menu > ul > li {
  position: relative;
}
.second-menu > ul > li a {
  display: block;
  padding: 12px 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.second-menu > ul > li > ul > li > a {
  padding: 15px 50px;
  background: #212D43;
}
.second-menu > ul > li:first-child {
  height: 110px;
}
.second-menu > ul > li:nth-child(2) {
  background: #39455d;
}
.second-menu > ul > li:last-child {
  height: 60px;
}
.second-menu > ul > li .second-menu-close {
  border: none;
  float: left;
  width: 48px;
  height: 48px;
  background: url("../images/index/logo3.png") no-repeat;
  background-position: -84px -113px;
}
.second-menu > ul > li .second-menu-logo1 {
  border: none;
  float: left;
  margin-top: 15px;
  width: 110px;
  height: 76px;
  background: url("../images/index/logo4.png") no-repeat;
  background-size: contain;
}
.second-menu > ul > li .second-menu-logo2 {
  border: none;
  width: 99px;
  height: 49px;
  background: url("../images/index/logo6.png") no-repeat;
  background-size: contain;
  margin-top: 20px;
  margin-left: 60px;
}
.second-menu > ul > li span {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  max-height: 45.2px;
  height: 100%;
  display: block;
  background: #00c3ff;
  display: none;
  z-index: 201;
}
.second-menu > ul > li:hover {
  background: #39455d;
}
.second-menu > ul > li > ul > li:hover a {
  background: #39455d;
}
.second-menu > ul > li:first-child:hover {
  background: none;
}
.second-menu > ul > li:nth-child(13):hover {
  background: none;
}
.second-menu > ul > li:last-child:hover {
  background: none;
}
.second-menu-shop {
  background: #f7931e;
  text-align: center;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 150;
  display: none;
}
.second-menu > ul .second-menu-icon {
  position: absolute;
  left: 65px;
  top: 16px;
  width: 16px;
  height: 16px;
  background: url("../images/index/arrow3_03.png") no-repeat;
  background-size: contain;
  z-index: 210 ;
  transform: rotate(0);
}
.second-menu > ul > li .second-menu-icon-active {
  top: 12px;
  transform: rotate(180deg);
}
.second-menu > ul > li > ul {
  display: none;
}
.second-menu2 {
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 200;
  width: 240px;
  background: #151a23;
  transition: all .5s;
  overflow: auto;
}
.second-menu2 > ul > li {
  position: relative;
}
.second-menu2 > ul > li a {
  display: block;
  padding: 12px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  text-decoration: none;
}
.second-menu2 > ul > li > ul > li > a {
  border: none;
  background: #151a23;
}
.second-menu2 > ul > li:first-child {
  height: 60px;
  padding-top: 10px;
  padding-right: 10px;
}
.second-menu2 > ul > li .second-menu-close {
  border: none;
  float: right;
  width: 30px;
  padding: 1px 1px;
  height: 30px;
  background: url("../images/index/logo3.png") no-repeat;
  background-position: -87px -128px;
}
.second-menu2 > ul > li .second-menu-logo1 {
  border: none;
  float: left;
  margin-top: 3px;
  margin-left: 40px;
  width: 89px;
  height: 40px;
  background: url("../images/index/logo3.png") no-repeat;
  background-position: 0 -80px;
}
.second-menu2 > ul > li:nth-child(2) a div {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  background-color: #0e86ca;
  border: solid 1px #00aeff;
  text-align: center;
}
.second-menu2 > ul > li:nth-child(2) a div:hover {
  color: white;
  background: #00aeff ;
}
.second-menu2 > ul > li .s-menu2-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  max-height: 43.6px;
  height: 100%;
  display: block;
  background: #00c3ff;
  z-index: 201;
}
.second-menu2 > ul > li ul li {
  position: relative;
}
.second-menu2 > ul > li ul li .sm2-g-list {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: rgba(0, 174, 255, 0.5);
  z-index: 201;
}
.second-menu2 > ul > li:hover {
  background: #21262e;
}
.second-menu2 > ul > li > ul > li:hover a {
  background: #21262e;
}
.second-menu2 > ul > li:first-child:hover {
  background: none;
}
.second-menu2 > ul > li:nth-child(2):hover {
  background: none;
}
.second-menu2 > ul .second-menu-icon {
  position: absolute;
  left: 57px;
  top: 16px;
  width: 16px;
  height: 16px;
  background: url("../images/index/arrow3_03.png") no-repeat;
  background-size: contain;
  z-index: 210 ;
  transform: rotate(0);
}
.second-menu2 > ul > li .second-menu-icon-active {
  top: 12px;
  transform: rotate(180deg);
}
.second-menu2 > ul > li > ul {
  display: block;
}
.s-menu2-iron1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/logo3.png");
  background-position: -113px -76px;
  background-size: 200px;
}
.s-menu2-iron2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/logo3.png");
  background-position: -113px -30px;
  background-size: 200px;
}
.s-menu2-iron3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/logo3.png");
  background-position: -160px -32px;
  background-size: 200px;
}
.s-menu2-iron-t {
  display: inline-block;
  margin-left: 2px;
  width: 50px;
  height: 20px;
  line-height: 20px;
}
.sm2-g-icon1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/sr1.png");
  background-size: contain;
}
.sm2-g-icon2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/sr2.png");
  background-size: contain;
}
.sm2-g-icon3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/sr3.png");
  background-size: contain;
}
.sm2-g-icon4 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/sr4.png");
  background-size: contain;
}
.sm2-g-icon5 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/sr5.png");
  background-size: contain;
}
.sm2-g-icon6 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/index/sr6.png");
  background-size: contain;
}
.sm2-g-icon-t1 {
  display: inline-block;
  margin-left: 2px;
  width: auto;
  height: 20px;
  line-height: 20px;
  color: #00aeff;
}
.sm2-g-icon-t2 {
  display: inline-block;
  margin-left: -4px;
  font-size: xx-small;
  color: #00aeff;
  vertical-align: top;
}
.second-menu2 > ul > li .second-menu-third li a {
  color: #00aeff;
}
/*  end  */
.ow-footer {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 26px;
  width: auto;
  height: 100%;
  z-index: 3;
  font-size: 12px!important;
  background: #202020;
  padding-bottom: 40px;
}
.ow-footer a {
  text-decoration: none;
  padding-top: 5px;
  color: #fff;
  font-weight: 400;
}
/*    footer-top  */
.footer-top {
  width: 1000px;
  position: relative;
  left: 50%;
  margin-left: -500px;
  color: #fff;
  z-index: 100;
  font-size: 14px;
  padding-top: 39px;
}
.footer-top-f {
  float: left;
  height: 25px;
}
.footer-top-f a {
  padding-top: 5px;
  margin-right: 37px;
  color: white;
}
.footer-top-f a:first-child i {
  background-position: -96px 0;
}
.footer-top-f i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  background: url(../images/game/Fsprite-24-blue.png);
  vertical-align: middle;
  top: -2px;
}
.footer-top-f a:nth-child(2) i {
  background-position: -144px -24px;
}
.footer-top-f a:nth-child(3) i {
  background-position: -24px -119px;
}
/*  footer-conter */
.footer-center {
  clear: both;
  padding-top: 51px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  padding-bottom: 20px;
  margin: 0 auto 8px;
  text-align: left;
  width: 1000px;
}
.logo_bz {
  display: inline-block;
  width: 140px;
  height: 80px;
  overflow: hidden;
  vertical-align: top;
  margin: 0;
  position: relative;
  top: 4px;
  box-sizing: border-box;
  background: url("../images/game/foot-1.png") no-repeat 0 0;
}
.logo_bz + a {
  display: inline-block;
  background: url("../images/game/foot-2.png") no-repeat 0 0;
  width: 125px;
  height: 38px;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  top: 39px;
  left: -3px;
  margin: 0;
}
.info {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  width: 706px;
  float: right;
  text-align: left;
  padding: 0 0 0 73px;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
}
.info a {
  color: rgba(255, 255, 255, 0.5);
}
.info ul {
  margin: 0 0 3px -10px;
  padding: 0 0 5px;
  overflow: hidden;
}
.info ul li {
  float: left;
}
.info ul li a {
  color: #ccc;
  padding: 0 10px;
  font-size: 14px;
}
.info p {
  line-height: 20px;
  vertical-align: top;
  font-size: 12px;
  margin: 0;
  font-weight: 400;
}
.info p:last-child {
  padding: 8px 0;
  position: relative;
}
.info p:last-child a {
  margin-right: 5px;
}
.integrity a:first-child {
  position: relative;
  top: -1px;
}
.integrity a:nth-child(2) {
  position: relative;
  top: -1px;
}
.integrity a:nth-child(3) {
  position: relative;
  top: -1px;
}
#btn {
  width: 40px;
  height: 30px;
  position: fixed;
  padding: 0;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.25);
  color: #000;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  z-index: 501;
  display: none;
  cursor: pointer;
}
/*   foot - bottom */
.footer-bottom {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  clear: both;
  position: relative;
  font-size: 12px;
}
.footer-bottom p {
  line-height: 20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .mainNav {
    height: 58px;
  }
  .mainNav-left {
    margin-left: 0;
  }
  .mainNav-logo {
    width: 64px;
    height: 44px;
    background: url(../images/index/logo4.png) no-repeat;
    margin-top: 6px;
  }
  .mainNav-menu > li > a {
    padding: 21px 8px 21px;
    font-size: 1.2rem;
  }
  .mainNav-right > a {
    font-size: 1.2rem;
    width: 50px ;
    height: 58px;
    line-height: 58px;
  }
  .animateBG {
    background: url("../images/index/animate-bg.jpg") no-repeat;
    background-size: cover;
    height: 500px;
  }
  .animateBG video {
    display: none;
  }
  .tiaojie {
    width: 70%;
    height: 60%;
    margin: 0 auto;
    left: 15%;
    top: 130px;
  }
  .animateBG-logo {
    width: 100%;
    height: 50%;
    background: url("../images/index/logo5.png") no-repeat;
    background-size: contain;
    background-position: center top;
    margin-bottom: 60px;
  }
  .animateBG-text1 > a {
    width: 162px;
    height: 36px;
    line-height: 36px;
    font-size: 1.2em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
  }
  .animateBG-text1 > a:hover {
    color: black;
  }
  .animateBG-text2 > a {
    width: 162px;
    height: 36px;
    line-height: 34px;
    font-size: 1em;
    font-weight: normal;
    background: white;
    color: black;
    text-decoration: none;
    border: 1px solid  white ;
  }
  .animateBG-icon-text {
    line-height: 34px;
  }
  .animateBG-icon {
    margin-top: 5px;
  }
  .news {
    padding-bottom: 50px;
  }
  .news > h2 {
    font-size: 2.4rem;
    text-align: center;
    margin: 30px 0 30px;
    color: #405275;
    font-style: italic;
  }
  .news ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .news ul li {
    margin-right: 20px;
    width: 43%;
    height: 231px;
  }
  .news ul li a {
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  .news-btn {
    width: 25%;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .myNavTop {
    display: none;
  }
  .mainNav {
    background-color: rgba(85, 93, 112, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 48px ;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mainNav-left {
    width: auto;
    margin: 0 auto;
  }
  .mainNav-logo {
    width: 162px;
    height: 48px;
    margin: 0 auto;
    background: url(../images/index/logo.png) no-repeat;
    background-size: contain;
  }
  .mainNav-menu {
    display: none;
  }
  .mainNav-right > a {
    display: none;
  }
  .mainNav-right-media-l {
    display: block;
    width: 48px;
    float: left;
  }
  .mainNav-right-media-r {
    display: block;
    width: 48px;
    float: right;
    margin-right: 0;
  }
  .mainNav-right-media-l > a {
    display: block;
    width: 48px;
    height: 48px;
    background: url("../images/index/logo3.png") no-repeat;
    background-position: -183px -69px;
  }
  .mainNav-right-media-r > a {
    display: block;
    width: 48px;
    height: 48px;
    background: url("../images/index/logo3.png") no-repeat;
    background-position: -190px -105px;
  }
  .animate-b-bg {
    background-color: #555d70 ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .animateBG {
    background: url("../images/index/animate-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center 30%;
    height: 500px;
    width: 600px;
    margin: 0 auto;
  }
  .animateBG video {
    display: none;
  }
  .tiaojie {
    width: 70%;
    height: 60%;
    margin: 0 auto;
    left: 15%;
    top: 60px;
  }
  .animateBG-logo {
    width: 100%;
    height: 50%;
    background: url("../images/index/logo5.png") no-repeat;
    background-size: contain;
    background-position: center top;
    margin-bottom: 180px;
  }
  .animateBG-text1 > a {
    width: 162px;
    height: 36px;
    line-height: 36px;
    font-size: 1.2em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85);
  }
  .animateBG-text1 > a:hover {
    color: black;
  }
  .animateBG-text2 > a {
    width: 162px;
    height: 36px;
    line-height: 34px;
    font-size: 1em;
    font-weight: normal;
    background: white;
    color: black;
    text-decoration: none;
    border: 1px solid  white ;
  }
  .animateBG-icon-text {
    width: 100%;
    text-align: center;
    line-height: 34px;
  }
  .animateBG-icon {
    display: none;
  }
  .news ul li {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 90%;
    height: 231px;
  }
  .news ul li a {
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  .news-btn {
    width: 90%;
  }
}
@media (min-width: 0px) and (max-width: 970px) {
  .fight {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    position: relative;
    z-index: 100;
    background: url("../images/index/fight-bg.jpg") no-repeat;
    background-size: contain;
    background-position: center top;
    background-color: #e4dfe6;
  }
  .fight-lunbo,
  .fight-bg1,
  .fight-bg1,
  .fight-bg1 {
    display: none;
  }
  .fight-cont {
    width: 100%;
    height: auto;
    position: static;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .fight-cont h2 {
    font-size: 5.6rem;
    text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
    margin-top: 450px;
    margin-bottom: 40px;
    font-style: italic;
    color: #405275;
  }
  .fight-cont p {
    width: 80%;
    margin: 0 auto;
    color: #405275;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 5rem;
    font-weight: 400;
  }
  .hero {
    padding-bottom: 80px;
  }
  .hero-cont {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 40px auto;
    text-align: center;
    color: #345177;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-cont h2 {
    font-size: 6rem;
  }
  .hero-cont p {
    width: 70%;
    margin: 0 auto;
    font-size: 2.4rem;
    line-height: 1.47;
    margin-bottom: 1rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
  .hero-banner {
    display: none;
  }
  .hero-big {
    display: none;
  }
  .hero-big-active {
    opacity: 0;
  }
  .hero > ul {
    width: 90%;
    margin: 0 auto;
    margin-top: 0;
  }
  .all-bg {
    display: none;
  }
  .shop {
    position: relative;
    z-index: 100;
    background: url("../images/index/all-bg.jpg") no-repeat;
    width: 92%;
    margin: 0 auto;
    height: 300px;
    background-size: cover;
    background-position: center 30%;
    margin-top: 130px;
    margin-bottom: 120px;
  }
  .shop h3 {
    display: block;
    position: absolute;
    top: -150px;
    width: 100%;
    text-shadow: 0 4px 5px rgba(60, 72, 96, 0.5);
    font-size: 5rem;
    color: #3f6493;
    letter-spacing: .08rem;
    font-style: italic;
    text-align: center;
    line-height: 1.47;
    z-index: 105;
  }
  .shop-tao {
    position: absolute;
    z-index: 102;
    bottom: 0;
    width: 100%;
    height: 360px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .shop-tao img {
    float: left;
    width: 80%;
    height: 600px;
    z-index: 103;
    vertical-align: bottom;
  }
  .shop-active {
    display: none;
  }
  .shop-cont {
    float: left;
    margin-top: 180px;
  }
  .shop-cont h2 {
    display: none;
  }
  .shop-cont p {
    display: none;
  }
  .shop-b-text {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 120px;
    padding-top: 20px;
    font-size: 2.4rem;
    text-align: center;
    background: url("../images/index/shop-bg1.png") no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .ow-footer .footer-center #infos {
    display: block;
    float: none;
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .footer-center .info .clearFix {
    padding: 0px;
  }
  .footer-center {
    width: 100%;
  }
}
@media (min-width: 970px) and (max-width: 1200px) {
  .hero-big {
    min-height: 400px;
  }
  .hero-big-img {
    height: 400px;
  }
  .hero-big-img img {
    height: 380px;
  }
  .hero-big-text {
    margin-left: 50px;
  }
  .hero-big-text h2 {
    font-size: 4rem;
  }
  .hero-big-text p {
    width: 200px;
  }
  .shop {
    height: 500px;
    background-position: center center;
  }
  .shop-tao {
    height: 600px;
  }
  .shop-cont {
    width: 443px;
    margin-top: 250px;
  }
  .shop-cont h2 {
    font-size: 5rem;
  }
}
